::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-track:vertical {
  background: black;
  border-left: 1px solid black;
}
::-webkit-scrollbar-thumb:vertical {
  background: white;
  border-left: 1px solid black;
}

::-webkit-scrollbar-corner {
  background: silver;
}

body {
  background: #1a1b26;
  color: #9aa5ce;
  font-family: 'JetBrainsMono NF';
}

a {
  color: #7aa2f7;
}

a.hover {
  color: #bb9af7;
}

h1 {
  color: #73daca;
}
h2 {
  color: #f7768e;
}
